* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-color: #fad0c4;
  --gradient-color: linear-gradient(to bottom, #ffd1ff 0%, #fad0c4 100%);
  --primary-color-light: #ffd1ff;
  --background-color: #0e000e;
  --font-color: #fff1ff;
}

.App.draw {
  overflow: auto;
}

.App {
  background: var(--background-color);
  border-left-width: 10px;
  border-left-style: solid;
  border-right-width: 10px;
  border-right-style: solid;
  border-image: var(--gradient-color) 1 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}